body {
  /* For Edge */
  height: 100%;
  /* WebKit-based browsers will ignore this */
  height: -moz-available;
  /* Mozilla-based browsers will ignore this. */
  height: -webkit-fill-available;
  /* For WebKit-based browsers, Edge not support this */
  height: fill-available;
}
